<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>axiom-key3-5.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,10},{4601,274}}</string>
        <key>offset</key>
        <string>{-4,-37.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,77},{4601,274}}</string>
        <key>sourceSize</key>
        <string>{4609,353}</string>
      </dict>
      <key>axiom-key3-4.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,304},{3671,274}}</string>
        <key>offset</key>
        <string>{0.5,-37.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,77},{3671,274}}</string>
        <key>sourceSize</key>
        <string>{3688,353}</string>
      </dict>
      <key>axiom-key3-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,598},{3222,271}}</string>
        <key>offset</key>
        <string>{0.5,-36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,77},{3222,271}}</string>
        <key>sourceSize</key>
        <string>{3239,353}</string>
      </dict>
      <key>axiom-key3-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,889},{2777,271}}</string>
        <key>offset</key>
        <string>{0.5,-36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,77},{2777,271}}</string>
        <key>sourceSize</key>
        <string>{2794,353}</string>
      </dict>
      <key>axiom-key3-3.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,1180},{1890,274}}</string>
        <key>offset</key>
        <string>{0.5,-37.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,77},{1890,274}}</string>
        <key>sourceSize</key>
        <string>{1907,353}</string>
      </dict>
      <key>axiom-key2-4.png</key>
      <dict>
        <key>frame</key>
        <string>{{3252,598},{1331,207}}</string>
        <key>offset</key>
        <string>{3.5,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,80},{1331,207}}</string>
        <key>sourceSize</key>
        <string>{1342,353}</string>
      </dict>
      <key>axiom-key2-5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1920,1180},{1329,274}}</string>
        <key>offset</key>
        <string>{-5.5,-37.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,77},{1329,274}}</string>
        <key>sourceSize</key>
        <string>{1340,353}</string>
      </dict>
      <key>axiom-key2-6.png</key>
      <dict>
        <key>frame</key>
        <string>{{3269,825},{1324,210}}</string>
        <key>offset</key>
        <string>{-1,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,77},{1324,210}}</string>
        <key>sourceSize</key>
        <string>{1326,353}</string>
      </dict>
      <key>axiom-key2-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{3269,1055},{1033,207}}</string>
        <key>offset</key>
        <string>{4,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,80},{1033,207}}</string>
        <key>sourceSize</key>
        <string>{1043,353}</string>
      </dict>
      <key>rockwell_late-0.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,1474},{933,207}}</string>
        <key>offset</key>
        <string>{-0.5,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,80},{933,207}}</string>
        <key>sourceSize</key>
        <string>{954,353}</string>
      </dict>
      <key>rockwell_early-0.png</key>
      <dict>
        <key>frame</key>
        <string>{{963,1474},{933,207}}</string>
        <key>offset</key>
        <string>{-0.5,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,80},{933,207}}</string>
        <key>sourceSize</key>
        <string>{954,353}</string>
      </dict>
      <key>rockwell_combo.png</key>
      <dict>
        <key>frame</key>
        <string>{{1916,1474},{933,207}}</string>
        <key>offset</key>
        <string>{-0.5,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,80},{933,207}}</string>
        <key>sourceSize</key>
        <string>{954,353}</string>
      </dict>
      <key>axiom-key2-3.png</key>
      <dict>
        <key>frame</key>
        <string>{{3701,304},{838,268}}</string>
        <key>offset</key>
        <string>{-1.5,-37.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,80},{838,268}}</string>
        <key>sourceSize</key>
        <string>{859,353}</string>
      </dict>
      <key>axiom-key-3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2869,1474},{685,207}}</string>
        <key>offset</key>
        <string>{3,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,80},{685,207}}</string>
        <key>sourceSize</key>
        <string>{697,353}</string>
      </dict>
      <key>axiom-key-4.png</key>
      <dict>
        <key>frame</key>
        <string>{{3574,1282},{654,207}}</string>
        <key>offset</key>
        <string>{3,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,80},{654,207}}</string>
        <key>sourceSize</key>
        <string>{666,353}</string>
      </dict>
      <key>axiom-key-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{4322,1055},{566,207}}</string>
        <key>offset</key>
        <string>{3,-7}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{9,80},{566,207}}</string>
        <key>sourceSize</key>
        <string>{578,353}</string>
      </dict>
      <key>axiom-key2-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,1701},{539,268}}</string>
        <key>offset</key>
        <string>{-1.5,-37.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,80},{539,268}}</string>
        <key>sourceSize</key>
        <string>{560,353}</string>
      </dict>
      <key>axiom-key-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{569,1701},{472,207}}</string>
        <key>offset</key>
        <string>{2.5,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,80},{472,207}}</string>
        <key>sourceSize</key>
        <string>{485,353}</string>
      </dict>
      <key>rockwell-num-10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1061,1701},{243,210}}</string>
        <key>offset</key>
        <string>{0.5,-5.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{44,77},{243,210}}</string>
        <key>sourceSize</key>
        <string>{330,353}</string>
      </dict>
      <key>rockwell-num-0.png</key>
      <dict>
        <key>frame</key>
        <string>{{3269,1282},{142,210}}</string>
        <key>offset</key>
        <string>{-0.5,-5.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{25,77},{142,210}}</string>
        <key>sourceSize</key>
        <string>{193,353}</string>
      </dict>
      <key>rockwell-num-3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1291,1701},{142,210}}</string>
        <key>offset</key>
        <string>{-1.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{24,77},{142,210}}</string>
        <key>sourceSize</key>
        <string>{193,353}</string>
      </dict>
      <key>rockwell-num-6.png</key>
      <dict>
        <key>frame</key>
        <string>{{1453,1701},{132,210}}</string>
        <key>offset</key>
        <string>{-1.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29,77},{132,210}}</string>
        <key>sourceSize</key>
        <string>{193,353}</string>
      </dict>
      <key>rockwell-num-8.png</key>
      <dict>
        <key>frame</key>
        <string>{{1605,1701},{144,210}}</string>
        <key>offset</key>
        <string>{-0.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{24,77},{144,210}}</string>
        <key>sourceSize</key>
        <string>{193,353}</string>
      </dict>
      <key>rockwell-num-9.png</key>
      <dict>
        <key>frame</key>
        <string>{{1769,1701},{133,210}}</string>
        <key>offset</key>
        <string>{-2,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28,77},{133,210}}</string>
        <key>sourceSize</key>
        <string>{193,353}</string>
      </dict>
      <key>rockwell-num-5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1922,1701},{140,207}}</string>
        <key>offset</key>
        <string>{-1.5,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25,80},{140,207}}</string>
        <key>sourceSize</key>
        <string>{193,353}</string>
      </dict>
      <key>rockwell-num-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2082,1701},{133,207}}</string>
        <key>offset</key>
        <string>{-3,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,77},{133,207}}</string>
        <key>sourceSize</key>
        <string>{193,353}</string>
      </dict>
      <key>rockwell-num-4.png</key>
      <dict>
        <key>frame</key>
        <string>{{2235,1701},{142,205}}</string>
        <key>offset</key>
        <string>{-2.5,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,79},{142,205}}</string>
        <key>sourceSize</key>
        <string>{193,353}</string>
      </dict>
      <key>rockwell-num-7.png</key>
      <dict>
        <key>frame</key>
        <string>{{2397,1701},{129,204}}</string>
        <key>offset</key>
        <string>{0,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32,80},{129,204}}</string>
        <key>sourceSize</key>
        <string>{193,353}</string>
      </dict>
      <key>rockwell-num-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2546,1701},{83,204}}</string>
        <key>offset</key>
        <string>{3,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{58,80},{83,204}}</string>
        <key>sourceSize</key>
        <string>{193,353}</string>
      </dict>
      <key>rockwell-num-11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1291,1931},{37,36}}</string>
        <key>offset</key>
        <string>{-0.5,-89.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{40,248},{37,36}}</string>
        <key>sourceSize</key>
        <string>{118,353}</string>
      </dict>
      <key>rockwell_early-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{963,1474},{933,207}}</string>
        <key>offset</key>
        <string>{-0.5,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,80},{933,207}}</string>
        <key>sourceSize</key>
        <string>{954,353}</string>
      </dict>
      <key>rockwell_late-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,1474},{933,207}}</string>
        <key>offset</key>
        <string>{-0.5,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,80},{933,207}}</string>
        <key>sourceSize</key>
        <string>{954,353}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>key_and_num.png</string>
      <key>size</key>
      <string>{4621,1979}</string>
      <key>textureFileName</key>
      <string>key_and_num</string>
    </dict>
  </dict>
</plist>
